{
  "cookies_from_browser": "firefox",
  "playlists_directory": "./Playlists/",
  "playlists": [
    "https://www.youtube.com/playlist?list=<INSERT_YOUR_PLAYLIST_HERE>",
    "https://www.youtube.com/playlist?list=<INSERT_YOUR_PLAYLIST_HERE>"
  ]
}
